* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	
	background: #e0e0e0;
	color: #1d1d1d;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.container .movie {
	text-align: center;
}

.container .movie .title {
	font-size: 16px;
	font-weight: 600;
}

.container .movie .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

/* Pagination */
.pag {
	position: fixed;
	bottom: 0;
	background: #ad5f5f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.pag button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #f90000;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.pag button:hover {
	background: #137c32;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/peliculas.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Nav */ 
.nav {
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link {
    margin-right: auto;
    padding: 0;
    font-size:50px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Title */ 
.hero__title {
    font-size: 3rem;
}
.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: flex;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: black;
    height:40px;
}

.modal-body {
    padding: 2px 20px;
    display: flex;
}

.column{
    display: grid;
    text-align: center;
}

.column .title{
    font-weight: bold;
    font-size: 45px;
}
.row2{
    background-image: url("https://image.tmdb.org/t/p/w500/${backdrop_path}");
}
.green{
    color:lightgreen;
    font-weight: bold;
    font-size: larger;
}
.orange{
    color:orange;
    font-weight: bold;
    font-size: larger;
    
}
.red{
    color:red;
    font-weight: bold;
    font-size: larger;
}


.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.btn{
    bottom: 0;
    background: #ff0000;
    gap: 20px;
    padding: 9px;
    font-weight: bold;
}

.trailer{
    bottom: 0;
    background: green;
    gap: 11px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
    height: 30px;
    width: 150px;
    justify-self: center;
}

