<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Peliculas</title>
</head>
<body>
    
    <header class="hero" id="start">

        <nav class="nav container">          
            
            <ul class="nav__link nav__link--menu">
                
                <li class="nav__items">
                    <a href="index.html" class="nav__links">Home</a>
                </li>

                <li class="nav__items">
                    <a href="series.html" class="nav__links">Series</a>
                </li>

            </ul>

        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Peliculas mas populares en Cines!</h1>
        </section>

    </header>
    
    <div class="container" id="container"></div>

    
    <!-- <section class="modal modal--show">
        <div class="modal__container" id="modal__container">
            <a href="#" class="hero__cta"></a>
        </div>
    </section> -->

    <div class="pag">
        <button id="btnBack">Anterior</button>
        <button id="btnNext">Siguiente</button>
    </div>

    <script src="/movie.js"></script>
</body>
</html>